input, select, button {
    padding: 10px;
    margin: 5px;
}

h1 {
    color: #0d6ce7; 
    text-align: center;
}

button {
    background-color: #64a3df; 
    color: rgb(255, 25, 224);
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049; 
}