.boton1{
    border-radius: 15px;
    background-color: brown;
    color: blue;
}
.boton2{
    border-radius: 15px;
    background-color: brown;
    color: blue;
    padding: 10px;
    text-align: center;
}
.boton3{
    border-radius: 15px;
    background-color: brown;
    color: blue;
    padding: 10px;
    text-align: center;
}


