.boton1{
    border-radius: 15px;
    background-color: brown;
    color: blue;
}
.boton2{
    border-radius: 15px;
    background-color: #f3ef18;
    color: blue;
    padding: 10px 20px;
    text-align: center;
}
.boton3{
    border-radius: 15px;
    background-color: rgb(51, 238, 5);
    color: blue;
    padding: 10px 20px;
    text-align: end;
    border:none;
    font-size: 20px;
}


