p{
font-family:‘ Courier New ’, Courier, monospace;
font-size: 25px;
color:rgb(33, 63, 231);
}
.parrafotitulo {
    front-family:‘Courier New ’ Courier, monospace;
    front-size:25px;
    color:rgb(0, 255, 234);

}
.img-p{
    border-radius: 10px 5px;
}